@import "tailwindcss";

@theme {
  --font-tektur: Tektur, sans-serif;
}

.penta{
  clip-path: polygon( 50% 0, 100% 38%, 81% 100%, 19% 100%, 0 38%);
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animate-rotate {
  animation: rotate 8s linear infinite;
}