@import "tailwindcss";

@theme {
  --font-tektur: Tektur, sans-serif;

  --color-dark-backround: hsl(150, 17%, 2%);
  --color-dark-text: hsl(150, 17%, 2%);
  
  --color-dark-green-shade: hsl(144, 61%, 10%);
  --color-dark-gray-shade: hsl(150, 7.14%, 10.98%);

  --color-primary-green: hsl(144.18, 100%, 39.41%);
  --color-primary-green-darker-shade: hsl(144.3, 96.8%, 24.51%);
  --color-accent-green: hsl(144.18, 100%, 50.41%);
  
  
  --color-white-text: hsl(140, 23%, 95%);

}

.penta {
  clip-path: polygon(50% 0, 100% 38%, 81% 100%, 19% 100%, 0 38%);
}
.penta-border {
  clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
  position: absolute;
  width: 52px; /* Slightly larger than .penta */
  height: 52px;
  background-color: black; /* Border color */
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animate-rotate {
  animation: rotate 8s linear infinite;
}

@keyframes grow {
  0% {
    scale: 1;
  }
  50% {
    scale: 1.2;
  }
  100% {
    scale: 1;
  }
}
.animate-grow {
  animation:
    grow 1s ease-in-out infinite,
    rotate 8s linear infinite;
}
.animate-grow-text {
  animation: grow 1s ease-in-out infinite;
}

.text-bubble {
  clip-path: polygon(0 0,100% 0,100% 100%,0 0);
}